<select (change)="onChange($event.target.value)">
  <option value="all" default>All</option>
  <option value="international">International</option>
  <option value="domestic">Domestic</option>
</select>
<input type="text"/>
<button>Search</button>

<div>
  <ul *ngFor = "let student of students">
    <!-- <li>{{student.name}}</li>
    <button>Edit</button>
    <button>View</button>
    <button (click)="delete(student.id)">Delete</button> -->
    <app-student-card [student]="student" (deleteEvent)="id = $event"></app-student-card>
  </ul>
</div>

