<mat-form-field>
  <mat-label>Filter by category</mat-label>
  <select matNativeControl (change)="onChange($event.target.value)">
    <option value="all" default>All</option>
    <option value="international" default>International</option>
    <option value="domestic" default>Domestic</option>
  </select>
</mat-form-field>

<input matInput type="search" />
<button>Search</button>

<mat-grid-list cols="4" rowHeight="2:1" class="mat-grid">
  <mat-grid-tile *ngFor="let student of students">
    <app-student-card [student]="student" (deleteEvent)="delete($event)"></app-student-card>
  </mat-grid-tile>
</mat-grid-list>