<mat-card [ngClass]="cardClasses">
  <mat-card-header>
    <mat-card-title>{{student.name | titlecase}}</mat-card-title>
    <mat-card-subtitle>{{student.dob | titlecase}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions class="card-actions">
    <button mat-raised-button color="primary" routerLink='/onboarding' [queryParams]='{edit : student.id}'>Edit</button>
    <button mat-raised-button color="primary" routerLink='/onboarding' [queryParams]='{view : student.id}'>View</button>
    <button mat-raised-button color="primary" (click)="delete(student.id)">Delete</button>
  </mat-card-actions>
</mat-card>