.app-onboard-student{
    padding-top: 25px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
}
.container {
    display: flex;
    flex-direction: column;
}

.container>* {
    width: 100%;
}

.container form {
    margin-bottom: 20px;
}

.container form>* {
    margin: 5px 0;
}

.button {
    margin-right: 8px;
}
.required{
    color: red;
}