<div class='app-onboard-student'>
    <h1>{{formTitle}}</h1>
    <form [formGroup]='onboardingForm' (ngSubmit)='onSubmit()' class="container">
        <mat-form-field [hideRequiredMarker]="onboardingForm.value.hideRequired"
            [floatLabel]="onboardingForm.value.floatLabel">
            <input matInput placeholder="Student Name" formControlName="name">
            <mat-error *ngIf="f.name.errors && f.name.errors.minlength">
                Name should be more than 4 characters
            </mat-error>
        </mat-form-field>

        <mat-form-field [hideRequiredMarker]="onboardingForm.value.hideRequired"
            [floatLabel]="onboardingForm.value.floatLabel">
            <mat-select formControlName="category" (ngModelChange)="onSelectingCategory()">
                <mat-option value="international">International</mat-option>
                <mat-option value="domestic">Domestic</mat-option>
            </mat-select>
            <mat-label>
                Select Category
            </mat-label>
        </mat-form-field>

        <div>
            <div formArrayName="documents" *ngFor="let document of documents.controls; let i=index">
                <mat-checkbox [formControlName]='i' [checked]="documentsByCatogoryType[i].checked">
                    {{documentsByCatogoryType[i].name}}</mat-checkbox>
                <span class="required" *ngIf='documentsByCatogoryType[i].mandatory && !disabled'>*</span>
            </div>
        </div>

        <mat-form-field [hideRequiredMarker]="onboardingForm.value.hideRequired"
            [floatLabel]="onboardingForm.value.floatLabel">
            <mat-label>Date of Birth</mat-label>
            <input matInput [matDatepicker]="myPicker" [min]="minValidDate" [max]="maxValidDate" formControlName="dob">
            <mat-datepicker-toggle matSuffix [for]="myPicker"></mat-datepicker-toggle>
            <mat-datepicker #myPicker></mat-datepicker>
            <mat-error *ngIf="f.dob.errors && f.dob.errors.dateRange"> Invalid Date </mat-error>
        </mat-form-field>

        <mat-form-field [hideRequiredMarker]="onboardingForm.value.hideRequired"
            [floatLabel]="onboardingForm.value.floatLabel">
            <input matInput placeholder="Father's Name" formControlName="father">
            <mat-error *ngIf="f.father.errors && f.father.errors.minlength">
                Name should be more than 4 characters
            </mat-error>
        </mat-form-field>

        <mat-form-field [hideRequiredMarker]="onboardingForm.value.hideRequired"
            [floatLabel]="onboardingForm.value.floatLabel">
            <input matInput placeholder="Mother's Name" formControlName="mother">
            <mat-error *ngIf="f.mother.errors && f.mother.errors.minlength">
                Name should be more than 4 characters
            </mat-error>
        </mat-form-field>

        <mat-form-field [hideRequiredMarker]="onboardingForm.value.hideRequired"
            [floatLabel]="onboardingForm.value.floatLabel">
            <input matInput placeholder="Last class score(in %)" formControlName="score">
            <mat-error *ngIf="f.score.errors && f.score.errors.pattern">
                Please enter a valid percentage score.
            </mat-error>
        </mat-form-field>

        <div class="button-row">
            <button mat-raised-button type="submit" [disabled]='disabled ||onboardingForm.invalid'>{{buttonName}}</button>
        </div>
    </form>
</div>